@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400;700;900&display=swap');

/* General Font */
.work-sans-login {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('res/blue2.png');
    background-repeat: no-repeat;
    background-size: cover;
}



#root {
    width: 100%;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    /* Less opaque */

    display: flex;
    flex-direction: column;
}

#dashboard {
    width: 100%;
    height: 100%;
    display: flex;
}

/* Body Styling */
.centeredCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}




/* ------------------------------------------------------------------------------------ */
/* --------------------------------------LOGIN PAGE--------------------------------------*/
/* ------------------------------------------------------------------------------------ */
form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 19vw;
    width: 100%;
}

.login-title {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin: 0 0 15px 0;
    font-weight: 400;
}

form div {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 15px;
    border: 2px solid #dde6ec;
    border-radius: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
    outline: none;
}

/* Submit Button Styling */
input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #32585f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
    margin-bottom: 0px;
}

input[type="submit"]:hover {
    background-color: #4f8e8b;
    transform: translateY(-2px);
    /* Lift effect */
}

input[type="submit"]:focus {
    outline: none;
}

/*  Register Container */
.register-container {
    text-align: center;
    font-size: 0.75rem;
    margin-top: 15px;
}

/* Register Button as Text */
.register-button {
    background: none;
    border: none;
    color: #32585f;
    font-size: inherit;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}

.register-button:hover {
    color: #4f8e8b;

}

/* smaller text for "New to FocusFins?" */
.small-text {
    font-size: 0.8rem;
    color: #333;
}

.success-message {
    color: #296c6b;
    /* or any visible color */
    font-size: .9em;
    padding: 15px;
    margin-top: 0px;
    border: 1px solid #296c6b;
    background-color: white;
    text-align: center;
}





/* ------------------------------------------------------------------------------------ */
/* --------------------------------------  TIMER PAGE--------------------------------------*/
/* ------------------------------------------------------------------------------------ */
/* Timer Input Styling for the center circle input */


/* Timer Page Styling */
.timer-container {
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    margin-left: 17%;
    gap: 10px;
    display: flex;
    justify-content: center;
}

/*changes size of timer circle*/
.timer {
    position: relative;
    width: 350px;
    height: 350px;
    margin-top: 20px;
}

svg {
    height: 100%;
    transform: rotate(-90deg);
}

.circle-background {
    fill: none;
    stroke: #b2ece1;
    /* Lighter stroke for background */
    stroke-width: 9;
}

.circle-foreground {
    stroke: #2c3e50;
    stroke-width: 9;
    stroke-linecap: round;
    transition: stroke-dashoffset 1.4s ease, stroke 1.2s ease;
    fill: none;
}

/* Timer Input Styling for the center circle input */
.time-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 700;
    color: #2c3e50;
    display: flex;
    align-items: center;
    gap: 0px;

    /* Space between input and seconds */
}

/* Style for the editable minutes input */
.time-display input {
    width: 70px;
    /* Adjusted width */
    min-width: 70px;
    height: 50px;
    /* Set a fixed height */
    text-align: center;
    font-size: 2rem;
    font-weight: 900;

    color: #2c3e50;
    border: none;
    background: black;
    outline: black;

    transition: border-color 0.3s;

}

.time-display input:focus {
    border-color: #2c3e50;
}



/* Align :00 with the input */
.time-input {
    font-size: 2rem;
    display: flex;
    align-items: center;
}


.time-display input:focus {
    border-color: #2c3e50;
}



/* Controls Styling */
.controls {
    margin-top: -10px;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}

.controls button {
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, transform 0.1s ease, border-color 0.3s ease;
}

.controls button:disabled {
    background-color: rgba(204, 204, 204, 0.6);
    cursor: not-allowed;
}

.controls button:not(:disabled):hover {
    background-color: rgba(85, 85, 85, 0.8);
    color: #fff;
    border-color: rgba(68, 68, 68, 0.8);
}

.controls button:active {
    transform: scale(0.95);
}


.arrow-button {
    font-size: 1.0rem;
    color: #2c3e50;
    /* Arrow color */
    background-color: transparent;
    /* Button background */
    border: 1px solid #32585f;
    /* Button border */
    border-radius: 3px;
    /* Rounded corners */
    cursor: pointer;
    padding: 2px;
}

.arrow-button:hover {
    color: #2c3e5092;
    /* Arrow color on hover */
    background-color: transparent;
    /* Button background on hover */
}


/* Remove default arrows for number inputs */
#minutesInput::-webkit-outer-spin-button,
#minutesInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#minutesInput[type='number'] {
    -moz-appearance: textfield;
    /* Firefox */
    appearance: textfield;
    /* Other browsers */
}


/* Specific styles for each button(start pause reser */
.controls button:nth-child(1) {
    background-color: rgba(41, 75, 108, 0.8);
    color: white;
    border-color: rgba(41, 75, 108, 0.8);
}

.controls button:nth-child(2) {
    background-color: rgba(166, 63, 65, 0.8);
    /* last value is opacity */
    color: white;
    border-color: rgba(166, 63, 65, 0.8);
}

.controls button:nth-child(3) {
    background-color: rgba(41, 75, 108, 0.8);
    color: white;
    border-color: rgba(41, 75, 108, 0.8);
}

#mainContent {
    justify-content: center;
    flex-grow: 2;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    position: relative;
    left: -5px;
}


/* Navbar container */
.navbar {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Logout button */
.logout-button {
    padding: 8px 16px;
    font-size: 1rem;
    background-color: rgba(166, 63, 65, 0.624);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: rgba(166, 63, 65, 0.361);
}

.logout-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Search form */
.search-form {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: transparent;
    width: 800px;
    height: 70px;
    box-sizing: border-box;
}

.search-input {
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 0.8rem;
    height: 35px;
    width: 80px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input:focus {
    border-color: #66afe9;
    box-shadow: 0 0 4px rgba(102, 175, 233, 0.5);
    outline: none;
}

.search-button {
    padding: 4px 10px;
    font-size: 0.8rem;
    background-color: #32585f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.search-button:hover {
    background-color: #4f8e8b;
}

.search-button:active {
    transform: scale(0.95);
}

.store-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 16px;
    font-size: 1rem;
    background-color: rgba(41, 75, 108, 0.8);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.store-button:hover {
    background-color: rgba(30, 70, 111, 0.436);
}

.store-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/*#296c6b green    #a63f41  red*/



/* ------------------------------------------------------------------------------------ */
/* --------------------------------------REGISTER FORM-------------------------------------- */
/* ------------------------------------------------------------------------------------ */
.register-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 22vw;
    width: 100%;
}

.register-title {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin: 0 0 20px 0;
    font-weight: 400;
}

.register-form .input-container {
    margin-bottom: 15px;
}

.register-form .input-container input {
    width: 100%;
    padding: 15px;
    border: 2px solid #dde6ec;
    border-radius: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.register-form .input-container input:focus {
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
    outline: none;
}

.register-form .register-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #32585f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-left: 0px;
    margin-top: 10px;
}

.register-form .register-button:hover {
    background-color: #4f8e8b;
    transform: translateY(-2px);
}

.register-form .register-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error-message {
    color: #d9534f;
    text-align: center;
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.valid {
    color: #296c6b;
    font-weight: bold;
}

.invalid {
    color: #a63f41;
    font-weight: bold;
}

.password-requirements {
    text-align: center;
    font-size: 13px;
}

.password-requirements ul {
    list-style-type: none;
    padding-left: 0;
}

.password-requirements li {
    display: flex;
    align-items: center;
}

.password-requirements li::before {
    content: attr(data-icon);
    margin-right: 8px;
}

.register-container {
    text-align: center;
    font-size: 0.75rem;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.register-container .login-link {
    color: #32585f;
    /* maches theme color */
    font-size: inherit;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}

.register-container .login-link:hover {
    color: #4f8e8b;
}


.register-page-button {
    text-decoration: none;

}

/* ------------------------------------------------------------------------------------ */
/* -------------------------------------- STORE -------------------------------------- */
/* ------------------------------------------------------------------------------------ */




/* Basic styling for the store component */
.storeWrapper ul {
    list-style-type: none;
    /* Removes bullet points */
    font-family: Arial, sans-serif;
    max-width: 300px;
    margin: 0 auto;
    padding: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: rgba(50, 88, 95, .8);
    max-height: 600px;
    /* Adjust to the desired height */
    overflow-y: auto;
    /* Enable vertical scrolling */


}




.storeWrapper h3 {
    text-align: center;
    margin-bottom: 16px;
    color: white;
}


.storeListItem {
    display: block;
    padding: 10px;
    margin-bottom: 8px;
    text-decoration: none;
    color: rgb(41, 75, 108);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: left;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.storeListItem:hover {
    background-color: #e6f4ff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: rgba(41, 75, 108, .8);
}

.storeListItem:active {
    background-color: #cce7ff;
    color: rgba(41, 75, 108, .7);
}

li {
    margin: 0;
}


/* ------------------------------------------------------------------------------------ */
/* -------------------------------------- REEF BUTTONS -------------------------------------- */
/* ------------------------------------------------------------------------------------ */
.popup-container {
    display: flex;
    flex-direction: column;
    gap: 90px;
    align-items: center;
    justify-content: flex-start;
    width: auto;
}

.popup-button {
    display: block;
    margin: 0 auto;
    background-color: rgba(41, 75, 108, 0.9);
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 150px;
    margin-bottom: 6px;
}

.popup-button:hover {
    background-color: rgba(41, 75, 108, 0.7);
    ;
    /* Darker green on hover */
}

/* Styling for the delete button */
.popup-button-delete {
    display: block;
    margin: 0 auto;
    background-color: rgba(41, 75, 108, 0.9);
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 150px;
    margin-bottom: 6px;
}

.popup-button-delete:hover {
    background-color: rgba(166, 63, 65, 0.8);
    /* Darker red on hover */
}
